*.java linguist-language=Java
*.jsp linguist-language=Java
*.css linguist-language=Java
*.js linguist-language=Java
*.html linguist-language=Java
*.doc linguist-language=Java
*.docx linguist-language=Java
